body {
    background-color: hsl(218, 28%, 13%);
}

.navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.navlink-section {
    display: flex;
    gap: 32px;
}

.nav-links {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.hero-section {
    padding-top: 64px;
    text-align: center;
}

.hero-title {
    color: hsl(0, 0%, 100%)
}

.hero-description {
    color: hsl(0, 0%, 100%)
}

.hero-button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(176, 68%, 64%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    border: none;
    border-radius: 16px;
}


.feature-section {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
}

.feature-card {
    width: 400px;
    text-align: center;
}

.feature-title {
    color: hsl(0, 0%, 100%);

}

.feature-description {
    color: hsl(0, 0%, 100%);
}

.productive-section {
    display: flex;
    color: hsl(0, 0%, 100%);
    align-items: center;
}

.productive-button {
    color: hsl(176, 68%, 64%);
    background: transparent;
    border: none;
    text-decoration: underline;
}

.productive-buttonsection {
    display: flex;
    align-items: center;
    gap: 0px;
}

.testimonial-section {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}

.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 20px;

}

.testimonial-card {
    background-color: hsl(219, 30%, 18%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    color: hsl(0, 0%, 100%);
}

.newsletter-section {
    justify-content: center;
    align-items: center;
    display: flex;
    color: hsl(0, 0%, 100%);
    flex-direction: column;
    background-color: hsl(218, 28%, 13%);
    padding-top: 15px;
    padding-bottom: 15px;

}

.newsletter-description {
    color:hsl(0, 0%, 100%);
}

.newsletterinput-section{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.newsletter-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    border: none;
    width: 400px;
}


.newsletter-button{
    background-color:hsl(176, 68%, 64%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    border: none;  
    color: hsl(0, 0%, 100%); 
}


 
.footer-image{
padding-right: 50px;
padding-left: 50px;
padding-top: 50px;
padding-bottom: 50px;
}

.footer-section{
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-icon{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    Padding-left: 10px;
}

.footer-link{
    color:white;
}